@media (max-width:600px) {
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0px;
    /*background:linear-gradient(rgb(192, 139, 25),white,white,white,white,rgb(192, 139, 25));*/
    background-color: rgba(0, 0, 255, 0.13);
    overflow-x: hidden;
    overflow-y: auto;
    gap: rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

    /*------------------ index-------------------*/

    .head{
        display: none;
    }
    .service-grid{
        display: flex;
        flex-direction: column;
    }
    .cta{
        display: none;
    }
    .ctaa{
    display: flex;
      background-color: #360f0f;
      color: #fff;
      padding: 15px 30px;
      border-radius: 8px;
      font-weight: bold;
      transition: background 0.3s ease;
      gap: 10px;
    }
    .ctaa1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 100%;
        width: 50%;
        gap: 30px;
    }
    .ctaa1 a {
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        padding: 10px;
        background-color: rgb(161, 108, 8);
        border-radius: 10px;
        color: black;
    }
    .ctaa1 a:hover {
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        padding: 10px;
        background-color: orange;
        border-radius: 10px;
        color: black;
    }
/*-------------------footeeer-----------------*/
.footer-container{
display: none;
}

    .footer-containe {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
      max-width: 1200px;
      margin: auto;
    }

    .footer-section {
      flex: 1 1 250px;
      min-width: 250px;
    }

    .footer-section h3, .footer-section h4 {
      color: #f39c12;
      margin-bottom: 15px;
    }

    .footer-section p {
      line-height: 1.6;
      font-size: 14px;
    }


    .footer-links a {
      color: #ddd;
      margin-right: 10px;
      font-size: 20px;
      transition: transform 0.3s ease, color 0.3s ease;
      text-decoration: none;
      color: white;
    }

    .footer-links a:hover {
      color: #f39c12;
      transform: scale(1.2);
    }

    .footer-bottom {
      text-align: center;
      border-top: 1px solid #444;
      padding-top: 15px;
      margin-top: 30px;
      font-size: 14px;
    }
/*------------------------------- No service --------------------*/
    .services{
      display: flex;
      flex-direction: column;
    }
    .head23{
    display: none;
}
/*------------------------------- historique--------------------*/
.tetepuq{
  display: none;
}
.J1{
background-color: #f39c12;
}
/*-------------------------publicite-------------------------------------*/
.lesicon{
  display: none;
}
.imgchange{
display: none;
}
.haut{
  display: none;
}

.hautee{
  min-height: 50%;
  width: 100%;
 background-color: orange;
 border-radius: 0 0 20px 20px ;
     animation: changeimgs 16s infinite ease-in;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 0;
}
.h4{
  color: black;
}
@keyframes changeimgs {
0%{
background-image: url(../objects/leTout.jpg);
}
15%{
background-image: url(../lesColan/colan2.jpg);
}
30%{
background-image: url(../lesColan/colan3.jpg);
}
45%{
background-image: url(../lesColan/colant.jpg);
}
60%{
background-image: url(../objects/1762935587612.jpg);
}
75%{
background-image: url(../objects/Screenshot_20251112-100719.jpg);
}
90%{
background-image: url(../objects/tass2.jpg);
}
100%{
background-image: url(../objects/tass.jpg);
}
    
}

.textoo{
  min-height: 20%;
  width: 100%;
  background-color: red;
}
.lesObjecte22{
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  min-height: 40%;
  gap: 20px;
}
.obj{
  text-decoration: none;
  height: 100%;
  min-width: 50%;
}
.h4{
  margin-left: 20px;
  font-weight: 700;
  font-size: 17px;
}
.puc{
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  border-radius: 20px;
}
.parente{
min-height: 60%;
width: 80%;

display: flex;
justify-content: center;
align-items: center;
}
.centre{
  height: 70%;
  width: 70%;
  transform-style: preserve-3d;
  animation:infinii 12s linear infinite ;
}
.item{
  position: absolute;
        height: 100%;
        width: 100%;
        background-color: blanchedalmond;
        backface-visibility: hidden;
        transform: rotateY(var(--i)) translateZ(320px);
        box-shadow: 0 10px 20px 0 black;
        border-radius: 5px;
          backface-visibility: visible;
}
/*---------------------- les object ---------------------*/
.phh{
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}



.hero{
  display: none;
}
.bas{
  display: none;
}
.lescontenus{
  display: none;
}
.contain{
  display: none;
}
.im1{
  display: none;
}
.ecri{
  display: none;
}
.pp{
  display: none;
}
h2{
  display: none;
}
.surObject{
  display: none;
}

.tetepub{
  display: none;
}
.im2{
  display: none;
}

.surObject{
  min-height:50%;

}

}